[build.environment]
    SECRETS_SCAN_OMIT_KEYS = "VITE_API_URL, VITE_APP_URL, VITE_APP_DESCRIPTION, VITE_APP_TITLE, VITE_DEFAULT_LANGUAGE, VITE_SUPPORTED_LANGUAGES"
    
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200